html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
    background-color: #FFF5E6; 
}

.form-control:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: #ced4da !important;
}

input.form-control::placeholder {
  color: gray;
  opacity: 0.3;
}